.home-page {
    width: 100%;
    min-height: calc(100vh - 80px);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  
  .home-page .post {
    width: 600px;
    height: auto;
    max-height: 600px;
    background-color: rgb(250, 250, 250);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
  }
  
  .post .post-header {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .post-header .post-header__title {
    flex: 50%;
  }
  
  .post-header .delete-post {
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .delete-post button {
    border: none;
    background: none;
    font-size: 30px;
    cursor: pointer;
  }
  
  .post .post-text__container {
    word-wrap: break-word;
    height: auto;
    max-height: 400px;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
  }
  